<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.visolink.h5.mapper.DictRegionMapper" >
  <resultMap id="BaseResultMap" type="com.visolink.h5.entity.DictRegion" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="Parent_ID" property="parentId" jdbcType="INTEGER" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="Order_No" property="orderNo" jdbcType="INTEGER" />
    <result column="Level" property="level" jdbcType="INTEGER" />
    <result column="Status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, Parent_ID, Name, Order_No, Level, Status
  </sql>
  
   <select id="findCityIdByName" resultMap="BaseResultMap"   parameterType="java.lang.String" >
  select  * from dict_region where  Name = #{Name}
  </select>
  
  </mapper>